@import '../../../style/variables.scss';

.Container {
  width: 100%;
  form {
    width: auto;
    margin: 0 2vw 2.5vh 2vw;
    height: 8vh;
    @include flex-ver-hor;

    input {
      border: none;
      outline: none;
      height: 100%;
      width: 90%;
      border-radius: 20px;
      font-size: 1.5rem;
      padding: 20px;
    }

    .Button {
      margin-left: 2vw;
      width: 10%;
      border-radius: 20px;
      border: none;
      outline: none;
      height: 100%;
      @include flex-ver-hor;
      cursor: pointer;

      img {
        width: 35%;
        min-width: 20px;
      }
    }

    @media screen and (max-width: 550px) {
      input {
        width: 80%;
      }
      button {
        width: 20%;
      }
    }
  }
}

.DarkInput {
  background: $dark-text-input-bg-color;
  color: $dark-text-input-font-color;
  transition: background-color 1.5s ease, color 1.5s ease;
}

.LightInput {
  background-color: $light-text-input-bg-color;
  color: $light-text-input-font-color;
  transition: background-color 1.5s ease, color 1.5s ease;
}

.DarkBtn {
  background: $dark-send-btn-bg-color;
  transition: background-color 1.5s ease;
}

.LightBtn {
  background-color: $light-send-btn-bg-color;
  transition: background-color 1.5s ease;
}
