@import '../../style/variables.scss';

.Container {
  form {
    width: 75vw;
    margin: 0 2vw 2.5vh 2vw;
    height: 10vh;
    @include flex-ver-hor;

    input {
      background: $text-input-bg-color;
      border: none;
      outline: none;
      height: 100%;
      width: 65vw;
      border-radius: 20px;
      font-size: 1.5rem;
      padding: 20px;
      color: $text-input-font-color;
    }

    button {
      margin-left: 2vw;
      width: 8vw;
      background: $send-btn-bg-color;
      border-radius: 20px;
      border: none;
      outline: none;
      height: 100%;
      @include flex-ver-hor;
      cursor: pointer;

      img {
        width: 2.5rem;
      }
    }
  }
}
