@import '../../style/variables.scss';

.Container {
  margin-bottom: 5vh;

  button {
    border: none;
    background: none;
    font-size: 1.3rem;
    padding: 15px;
    font-weight: 700;
    color: inherit;
    cursor: pointer;
    @include flex-ver-hor;

    img {
      width: 1.3rem;
      position: relative;
      right: 10px;
    }
  }
}
