.Container {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2c315b;
  color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  .Header {
    h1 {
      margin-top: 5vh;
    }

    img {
      border-radius: 50%;
      margin: 20px 0;
      // width: 100px;
      // height: 100px;
    }
  }
}
