// Common
$dark-primary-bg-color: #202343;
$primary-bg-color: #2c315b;
$scroll-bar-color: #4b78ff;

// MsgCard
$sent-font-color: #e4dcdc;
$sent-bg-color: #5538b4;
$receive-font-color: #4b4646;
$receive-bg-color: #e5e5ea;

// MsgForm
$text-input-bg-color: #343a72;
$text-input-font-color: #7379b0;
$send-btn-bg-color: #4b78ff;

// Navbar
$navbar-bg-color: #2c315b;
$navbar-font-color: #ffffff;

@mixin flex-ver-hor {
  display: flex;
  justify-content: center;
  align-items: center;
}
