// ChatRoom
// dark
$dark-primary-bg-color: #202343;
$dark-secondary-bg-color: #2c315b;
$dark-scroll-bar-color: #4b78ff;
// light
$light-primary-bg-color: lightblue;
$light-secondary-bg-color: #c7f7f7;
$light-scroll-bar-color: #54c4c4;

// MsgCard
// dark
$dark-sent-font-color: #ffffff;
$dark-sent-bg-color: #5538b4;
$dark-receive-font-color: #4b4646;
$dark-receive-bg-color: #e5e5ea;
// light
$light-sent-font-color: #ffffff;
$light-sent-bg-color: #54c4c4;
$light-receive-font-color: #000000;
$light-receive-bg-color: #ffffff;

// MsgForm
// dark
$dark-text-input-bg-color: #343a72;
$dark-text-input-font-color: #7379b0;
$dark-send-btn-bg-color: #4b78ff;
// light
$light-text-input-bg-color: lightcyan;
$light-text-input-font-color: #000000;
$light-send-btn-bg-color: #54c4c4;

// Navbar
// dark
$dark-navbar-bg-color: #2c315b;
$dark-navbarToggle-bg-color: #202343;
// light
$light-navbar-bg-color: #c7f7f7;
$light-navbarToggle-bg-color: lightblue;

// SignIn
$googleBtn-border-color: #dd3f30;
$facebookBtn-border-color: #4267b2;
$githubBtn-border-color: #212121;
$linearGradient-1-color: #2c315b;
$linearGradient-2-color: #623e6f;
$linearGradient-3-color: #964b76;
$linearGradient-4-color: #c45e73;
$linearGradient-5-color: #e57b68;

// Global
// dark
$dark-font-color: #ffffff;
// light
$light-font-color: #496363;

@mixin flex-ver-hor {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ChatRoom functions
@mixin scrollbar-track {
  &::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 20px;
  }
}

@mixin scrollbar-thumb($color) {
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 20px;
  }
}
//===================
