@import '../../style/variables.scss';

.Container {
  overflow: hidden;
  display: flex;
  flex-flow: row;
  height: 100vh;
  min-width: 280px;

  .Burger {
    display: none;
    position: fixed;
    left: 10px;
    top: 0.5%;
    z-index: 2;
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }

  .Content {
    width: 100%;
    margin-left: 300px;
    transition: margin-left 0.5s ease-in-out;

    .MsgContainer {
      width: auto;
      height: 82vh;
      margin: 5vh 2vw 2.5vh 2vw;
      overflow-y: scroll;
      padding: 10px;
      display: flex;
      flex-flow: column;
      border-radius: 20px;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background: none;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background: $scroll-bar-color;
        border-radius: 20px;
      }
    }
  }
  @media screen and (max-width: 940px) {
    .Content {
      margin-left: 0;
      transition: margin-left 0.6s ease-in-out;
    }

    .Burger {
      display: block;
    }
  }
}

.Toggle {
  .Line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .Line2 {
    opacity: 0;
  }

  .Line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.DarkBurger {
  div {
    background-color: $dark-font-color;
    transition: background-color 1.5s ease;
  }
}

.LightBurger {
  div {
    background-color: $light-font-color;
    transition: background-color 1.5s ease;
  }
}

.DarkContainer {
  background: $dark-primary-bg-color;
  transition: background-color 1.5s ease;
}

.LightContainer {
  background-color: $light-primary-bg-color;
  transition: background-color 1.5s ease;
}

.DarkMsgContainer {
  background-color: $dark-secondary-bg-color;
  transition: background-color 1.5s ease;
}

.LightMsgContainer {
  background-color: $light-secondary-bg-color;
  transition: background-color 1.5s ease;
}
