@import '../../style/variables.scss';

.Container {
  overflow: hidden;
  display: flex;
  flex-flow: row;
  background: $dark-primary-bg-color;

  .Content {
    .MsgContainer {
      width: 75vw;
      height: 80vh;
      margin: 5vh 2vw 2.5vh 2vw;
      overflow-y: scroll;
      padding: 10px;
      display: flex;
      flex-flow: column;
      background-color: $primary-bg-color;
      border-radius: 20px;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background: none;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background: $scroll-bar-color;
        border-radius: 20px;
      }
    }
  }
}
