@import '../../../style/variables.scss';

.Container {
  display: flex;
  flex-flow: row;

  p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    color: $dark-sent-font-color;
    text-align: left;
    word-break: break-all;
    transition: background-color 1.5s ease, color 1.5s ease;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
}

.DarkSent {
  flex-flow: row-reverse;

  p {
    background-color: $dark-sent-bg-color;
  }
}

.DarkReceived {
  p {
    color: $dark-receive-font-color;
    background-color: $dark-receive-bg-color;
  }
}

.LightSent {
  flex-flow: row-reverse;

  p {
    background-color: $light-sent-bg-color;
  }
}

.LightReceived {
  p {
    color: $light-receive-font-color;
    background-color: $light-receive-bg-color;
  }
}
